$background-tint: black;
$background-color: rgba(0, 0, 0, .5);
$gray-middle: #b6c3d3;
$text-color: #4b5a6d;
$background-main: #ffffff;
$border-hover: #212121;
$element-checked: #2196f3;
$background-button: #e3ecf7;
$box-shadow-deep: rgba(0, 0, 0, 0.16);